* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

#nav {
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

#nav a img {
    width: 10vh;
    height: 10vh;
}

#nav h1 {
    color: white;
    margin-left: 30px;
    font-size: 18px;
} 

#content {
    display: block;
    padding-bottom: 25vh;
}

#content h1 {
    padding-top: 7vh;
    text-align: center;
}

#message-div {
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    display: none !important;
}

.sucess {
    background-color: rgb(162, 255, 162);
    color: rgb(0, 70, 0);
}

.fail {
    background-color: rgb(255, 75, 75);
    color: rgb(82, 0, 0);
}

#form {
    width: 70%;
    margin: 5vh auto 0 auto;
}

#form-table {
    width: 100%;
    border-collapse: collapse;
}

#form-table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    height: 10vh;
}

.column1-rows, .column2-rows, .column3-rows, .column5-rows, .column6-rows {
    text-align: center;
}

.column2, .column3, .column4, .column5, .column6 {
    padding-left: 8vh;
}

.column1 {
    padding-left: 2vh;
}

.column6 {
    padding-right: 2vh;
}

.column4-rows {
    text-align: left;
}

.column5-rows {
    width: 30%;
}


.column5-rows select {
    width: 80%;
    height: 5vh;
    border-radius: 3px;
    margin-right: 1vh;
}

.column5-rows button {
    width: 10%;
}

.column5-rows button, .column6-rows button {
    background: none;
    border: none;
    text-align: center;
}


.fa-arrows-rotate {
    color: blue;
}

.fa-x {
    color: red;
}

.fa-arrows-rotate, .fa-x {
    font-size: 20px;
}

body {
    position: relative;
}

#footer {
    background-color: black;
    margin-top: 20vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 16vh;
    position: absolute;
    bottom: 0;
}

#footer h1{
    color: white;
    font-size: 15px;
    
}