* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

body {
    position: relative;
}

#nav {
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

#nav a img {
    width: 10vh;
    height: 10vh;
}

#nav h1 {
    color: white;
    margin-left: 30px;
    font-size: 18px;
} 

#content {
    display: block;
    padding-bottom: 25vh;
}

#content h1 {
    padding-top: 7vh;
    text-align: center;
}

#filter-line {
    display: flex;
    width: 70%;
    margin: 4vh auto 0 auto;
    justify-content: space-between;
    align-items: center;
}

#sort-form label{
    margin-left: 15px;
    margin-right: 2px;
}

#filter-btn {
    background-color: rgb(255, 101, 0);
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: 1px solid rgba(44, 44, 44, 0.5);
    transition: background-color 0.2s ease-in;
}

#filter-btn:hover {
    background-color: #c94913;
}

#filter-btn a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#ordenar, #limit {
    padding: 4px 4px 4px 1px;
    border-radius: 3px;
    border: 1px solid rgba(44, 44, 44, 0.5);
}

#submit-filter button {
    padding: 5px;
    width: 10vh;
    background-color: rgb(255, 101, 0);
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: 1px solid rgba(44, 44, 44, 0.5);
    font-size: 15px;
    font-weight: 600;
    color: white;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
}

#submit-filter button:hover {
    background-color: #c94913;
}

#submit-filter {
    display: flex;
    align-items: end;
}

option {
    font-size: 14px;
}

select {
    font-size: 14px;
}

#message-div {
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    display: none !important;
}

.sucess {
    background-color: rgb(162, 255, 162);
    color: rgb(0, 70, 0);
}

.fail {
    background-color: rgb(255, 75, 75);
    color: rgb(82, 0, 0);
}

#pop-up-filter-div {
    opacity: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

#pop-up-filter-div:target {
    opacity: 1;
    pointer-events: auto;
}

#filter-div {
    width: 60%;
    height: 80%;
    position: relative;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    box-shadow: 5px 5px 15px 10px #bdbdbd50;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

#filter-form {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    row-gap: 5vh;
    padding: 5vh 10vh 10vh 10vh;
}

#filter-form div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
}

#filter-form div label {
    margin-top: 15px;
}

#filter-form div label input {
    margin-right: 1.5vh;
}

#pedido-filter {
    margin-top: 20px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#form {
    width: 70%;
    margin: 1vh auto 0 auto;
}

#form-table {
    width: 100%;
    border-collapse: collapse;
}

#form-table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    height: 10vh;
}

.column1-rows, .column2-rows, .column3-rows, .column5-rows, .column6-rows {
    text-align: center;
}

.column2, .column3, .column4, .column5, .column6 {
    padding-left: 8vh;
}

.column1 {
    padding-left: 2vh;
}

.column6 {
    padding-right: 2vh;
}

.column4-rows {
    text-align: left;
}

.column5-rows {
    width: 30%;
}


.column5-rows select {
    width: 80%;
    height: 5vh;
    border-radius: 3px;
    margin-right: 1vh;
}

.column5-rows button {
    width: 10%;
}

.column5-rows button, .column6-rows button {
    background: none;
    border: none;
    text-align: center;
}


.fa-arrows-rotate {
    color: blue;
}

.fa-x {
    color: red;
}

.fa-arrows-rotate, .fa-x {
    font-size: 20px;
}

#footer {
    background-color: black;
    margin-top: 20vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 16vh;
    position: absolute;
    bottom: 0;
}

#footer h1{
    color: white;
    font-size: 15px;
    
}