* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

#nav {
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

#nav a img {
    width: 10vh;
    height: 10vh;
}

#nav h1 {
    color: white;
    margin-left: 30px;
    font-size: 18px;
} 

#content {
    display: block;
    padding-bottom: 25vh;
    min-height: 90vh;
}


body {
    position: relative;
    background-color: rgb(240, 240, 240);
}

.main-h1 {
    text-align: center;
    margin-top: 5vh;
}

#grid-results {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    justify-content: space-evenly;
    margin-top: 10vh;
}

#grid-results div {
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px 10px #a8a8a850;
}

#grid-results div p {
    margin-top: 4vh;
}

#footer {
    background-color: black;
    margin-top: 20vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 16vh;
    position: absolute;
    bottom: 0;
}

#footer h1{
    color: white;
    font-size: 15px;
    
}