@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Neuton', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #f50926;
  --secondary: #303030;
  --terceary: #e9eeee;
  --white: #fefefe;
  --black: #111;
  --gray: #222222;
  --soft-white: #f1f1f1;
  --yellow: #fac900;
  --blue: #0096ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer;
  transition: all .3s ease;
}

button:hover {
  filter: brightness(80%);
}

body {
  background-color: var(--terceary);
}

.dashboard {
  display: grid;
  grid-template-columns: 20% 80%;
}

.dashboard-active {
  background-color: var(--terceary);
  color: var(--black);
}

.list-table th, td {
  border-bottom: 1px solid #222;
  padding: 1rem;
  text-align: center;
}

.btn {
  background-color: red;
  padding: 10px 1rem;
  border-radius: 8px;
}
